@font-face {
    font-family: "Lato";
    src: url("../assets/Lato/Lato-Regular.ttf");
}

body {
    font-family: lato, arial, sans-serif;
    max-width: 1200px;
}

header img {
    height: 100px;
    width: 270px;
    margin: 40px 0px 10px 0px;
}

#search-section {
    overflow: visible;
    max-height: 250px;
}

.search-bar-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.search-bar-container i {
    position: absolute;
    right: 15px;
}

#search-bar {
    background-color: #E7E7E7;
    color: #000000;
    font-size: 18px;
}

#search-bar::placeholder {
    color: rgba(0, 0, 0, 0.25);
}

.placeholder-tag {
    background-color: #3282F7;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    border-radius: 5px;
    justify-content: space-evenly;
    width: 107px;
    height: 37px;

}
.remove-filter-button {
    color: white;
    font-weight: 600;
    border: solid 2px white;
    background-color: #3282F7;
    border-radius: 1000px;
    height: 18px;
    width: 18px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
}

.filter-select-inputs {
    display: flex;
    flex-wrap: wrap;
}

.filter-button {
    width: 170px;
    height: 70px;
    margin: 10px 20px 10px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 700;
    padding:16px;
    border: none;
    z-index: 0;
}

.filter-button p {
    margin: 0;
}

#ingredients-filter {
    background-color: #3282F7;
}

#appareils-filter {
    background-color: #68D9A4;
}

#ustensiles-filter {   
    background-color: #ED6454;   
}

.filter-expanded {
    display: flex;
    position: relative;
    z-index: 10;
    flex-direction: column;
    height: auto;
    min-width: 320px;
    max-height: 526px;
    border-radius: 5px;
    color: white;
    margin: 10px 20px 10px 0px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.filter-items-list {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(11, auto);    
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    width: max-content;
    max-height: 490px;
    padding-bottom: 20px;
    padding-right: 16px;
}

.filter-items-list div {
    display: flex;
    position: relative;
    width: 230px;
    font-size: 18px;
    margin: 5px 0px 5px 20px;
}

#ingredients-expanded {
    background-color: #3282F7;
}

#appareils-expanded {
    background-color: #68D9A4;
}

#ustensiles-expanded {   
    background-color: #ED6454;   
}

.filter-input-area {
    position: relative;
    display: flex;
    align-items: center;
    height: 70px;
    min-height: 70px;
    max-height: 70px;
}


.filter-input-area i {
    position: absolute;
    right: 25px;
}

.filter-input {
    width: 100%;
    border: none;
    background-color: transparent;
    padding: 5px 20px 5px 20px;
    font-size: 18px;
    color: white;
    font-weight: 700;
}

.filter-input::placeholder {
    color: rgba(255, 255, 255, 0.85);
}

.filter-input:focus {
    outline: 0;
}

.results-container {
    margin-bottom: 200px;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    position: relative;
    z-index: 1;
}

.card {
    padding: 0;
    margin: auto;
    margin: 20px 10px;
    height: auto;
    width: 380px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover {
    transform: scale(1.01);
    box-shadow: rgba(0, 0, 0, 0.18) 0px 7px 14px;
}

.recipe-illustration {
    width: 100%;
    height: 178px;
    object-fit: cover;
}

.card-body {
    background-color: #E7E7E7;
    padding: 20px;
    overflow: hidden;
}

.recipe-card-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card-title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    max-width: 70%;
}

.duration-area {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90px;
    font-size: 18px;
    font-weight: 700;
}

.recipe-card-content-bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    overflow: hidden;
    white-space: initial;
    text-overflow: ellipsis;
}

.ingredients-list {
    width: 50%;
    font-size: 12px;
    margin: 16px 20px 16px 0px;
    line-height: 100%;
}

.description {
    width: 50%;
    font-size: 12px;
    line-height: 100%;
    font-weight: 400;
    margin: 16px 0px 16px 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}

